
#sharethis-settings,
#sharethis-settings-view {
  width: 46%;
  padding: 10px;
  float: left;
}
#sharethis-settings-view {
  float: right;
}
#sharethis-settings-services .form-item .form-item {
  width: 50%;
  float: left;
}
