
div.double-arrows {
  float: left;
  width: 16px;
  height: 16px;
  margin: 3px;
  padding: 0px;
}
div.double-arrows,
div.tab-title {
  cursor: pointer;
}
div.tab-name div.double-arrows {
  background: transparent url('../double-arrow.gif') no-repeat scroll 0px 0px;
}
div.tab-name.opened div.double-arrows {
  background-position: 0px bottom;
}
div.tab-enabled {
  float: left;
}
div.tab-title {
  font-weight: bold;
  float: left;
  width: 84%;
  margin-left: 15px;
}
div.tab-weight {
  float: right;
  padding-right: 20px;
}
div.tab-settings {
  clear: both;
}
