
a.share-link {
  padding: 1px 5px 2px 22px;
  background: transparent url('../share-icon-16x16.png') no-repeat scroll 0px 0px !important;
  outline: none;
}
.share-popup {
  border: 2px solid #CDCDCD;
  background-color: #5d5d5d;
  color: #000000;
  width: 350px;
  font-family: Arial,Helvetica,sans-serif;
  font-size: 13px;
  font-size-adjust: none;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  line-height: normal;
  position: absolute;
  z-index: 10;
}
div.share-header {
  margin: 0px;
  padding: 0px;
}
div.share-header a.share-close {
  float: right;
  margin: 0px;
  padding: 0px 10px;
  color: #FFFFFF;
}
div.share-header ul.share-menu {
  margin: 6px 0px 0px 5px;
  height: 20px;
  width: 83%;
}
div.share-header ul.share-menu li {
  display: inline;
  margin: 0px;
  padding: 0px;
}
div.share-header ul.share-menu li a {
  outline: none;
  color: #000000;
}
div.share-header ul.share-menu li a:hover {
  text-decoration: none;
}
div.share-header ul.share-menu li a span {
  background-color: #CDCDCD;
  margin: 0px 1px;
  padding: 3px 5px;
}
div.share-header ul.share-menu li a span:hover {
  text-decoration: underline;
}
div.share-header ul.share-menu li a.selected span {
  background-color: #FFFFFF;
  border-bottom: 2px solid #FFFFFF;
}
div.share-content {
  margin: 0px;
  padding: 10px;
  background-color: #FFFFFF;
}
div.share-content .form-text {
  width: 98%;
}
div.share-content .form-textarea {
  width: 99%;
}
